{% extends 'base.html' %}

{% block title %}All Activities{% endblock %}

{% block body %}
  <h1>All Activities</h1>

  <!-- Filter form -->
  <form id="filter-form">
    <label for="category_id">Filter by Category:</label>
    <select id="category_id" name="category_id">
      <option value="">Select Category</option>
      {% for category in categories %}
        <option value="{{ category.category_id }}">{{ category.description }}</option>
      {% endfor %}
    </select><br><br>

    <button type="submit">Filter Activities</button>
  </form>
    
  <ul>
    {% for activity in activities %}
      <li>
        <a href="/activities/{{ activity.activity_id }}">
          {{ activity.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
<script src="{{ url_for('static', filename='filter_activities.js') }}"></script>
  {% endblock %}

  