{% extends 'base.html' %}
{% block title %}All Events{% endblock %}

{% block body %}
  <h1>All Events</h1>

  <!-- Filter form -->
  <form id="filter-form">
    <label for="activity_id">Filter by Activity:</label>
    <select id="activity_id" name="activity_id">
      <option value="">Select Activity</option>
      {% for activity in activities %}
      <option value="{{ activity.activity_id }}">{{ activity.name }}</option>
      {% endfor %}
      </select><br><br>

      <button type="submit">Filter Events</button>

      <button style="font-size:13px"> <i class="fa fa-undo"></i></button>
      
      </form>

  <!-- Link to event creation form -->
  <p><a href="{{ url_for('show_event_form') }}">Want to create your own event? Click here!</a></p>


    <!-- Display Events -->
  <ul id="event-container">
    {% for event in events %}
     <li class="event" data-activity="{{ event.activity_id }}">
      <h2>{{ event.title }}</h2>
      <p>{{ event.description }}</p>
      <p>Date: {{ event.date_time.strftime('%Y-%m-%d %H:%M') }}</p>
      <p>Location: {{ event.location }}</p>
      <p>Cost: ${{ event.cost }}</p>

      <h3>Participants:</h3>
      <ul>
        {% for participant in event.event_participants %}
        <li>{{ participant.user.username }}</li>
        {% else %}
        <li>No participants yet.</li>
        {% endfor %}
      </ul>
        
      {% if user_id == event.user_id %} 
        <p><strong>This is your event!</strong></p>
        {% else %}
        <button onclick="joinEvent('{{ event.event_id }}')">Join</button> 
      {% endif %}  
     </li>
    {% else %}
     <li>No events found</li>
    {% endfor %}
  </ul>

{% endblock %}

{% block after_body %}

  <!-- Link to Javascript file -->
  <script src="/static/join_event.js"></script>
  <script src="/static/filter_events.js"></script>
{% endblock %}
