{% extends 'base.html' %}
{% block title %}ThrillTribe Home{% endblock %}

{% block body %}
  <h1>Hey kid!</h1>

  <h2>Join us</h2>
  <ul>
    <li><a href="/activities">View all activities</a></li>
    <li><a href="/events">View all events</a></li>
    {% if session %}
    <li><a href="/users/{{ session['user_id'] }}">View my profile</a></li>
    <li><a href="/create_event">Create Event</a></li>
    <li><a href="/logout">Log out</a></li>
    {% endif %}

<h2>Create an Account</h2>
<form action="/users" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>
    <p>
      Email <input type="text" name="email">
    </p>
    <p> 
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  
  <h2>Log in</h2>
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>
    <p> 
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
{% endblock %}