{% extends 'base.html' %}

{% block body %}
<h1>{{ user.username }}'s Profile</h1> 


<h2>My Joined Events:</h2>
<ul>
    {% if joined_events %}
        {% for event in joined_events %}
        <li>
            <a href="/events/{{ event.event_id }}">{{ event.event.title }}</a>
            <p>{{ event.event.description }}</p>
            <p>Date: {{ event.event.date_time }}</p>
        </li>
        {% endfor %}
    {% else %}
        <p>No joined events.</p>
    {% endif %}
</ul>

<h2>My Created Events:</h2>
<ul>
    {% if created_events %}
        {% for event in created_events %}
        <li>
            <a href="/events/{{ event.event_id }}">{{ event.title }}</a>
            <p>{{ event.description }}</p>
            <p>Date: {{ event.date_time }}</p>
        </li>
        {% endfor %}
    {% else %}
        <p>No created events.</p>
    {% endif %}
</ul>


<h2>Bucket List</h2>

<!-- Form to add a new goal/experience -->
<form action="/bucket_list/add" method="post">
    <label for="activity_id">Take on a new challenge:</label>
    <select name="activity_id" id="activity_id">
        {% for activity in activities %}
        <option value="{{ activity.activity_id }}">{{ activity.name }}</option>
        {% endfor %}
    </select>
    <button type="submit">Add to Bucket List</button>
</form>

<!-- Check if there are any bucket list items -->
{% if bucket_list_items %}
    <ul>
        {% for item in bucket_list_items %}
        <li>

                <input type="checkbox" id="bucket-list-{{ item.bucket_list_id }}"
                {% if item.status == 'completed' %} checked {% endif %} disabled>
                <label for="bucket-list-{{ item.bucket_list_id }}">{{ item.activity.name }}</label>

            <form action="/bucket_list/complete/{{ item.bucket_list_id }}" method="post">
                <button type="submit">Mark as Completed</button>
            </form>
            
            {% if item.status == 'completed' %}
            <form action="/bucket_list/undo/{{ item.bucket_list_id }}" method="post" style="display: inline;">
                <button type="submit">Undo</button>
            </form>
            {% endif %}
            
            <form action="/bucket_list/delete/{{ item.bucket_list_id }}" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Bucket list is empty.</p>
{% endif %}

{% endblock %}