{% extends 'base.html' %}

{% block content %}
<h1>{{ user.email }}'s Profile</h1> <!-- Change email to username-->

<h2>My Joined Events:</h2>
<ul>
    {% if joined_events %}
        {% for event in joined_events %}
        <li>
            <h3>{{ event.event.title }}</h3> 
            <p>{{ event.event.description }}</p>
            <p>Date: {{ event.event.date_time }}</p>
        </li>
        {% endfor %}
    {% else %}
        <p>No joined events.</p>
    {% endif %}
</ul>

<h2>My Created Events:</h2>
<ul>
    {% if created_events %}
        {% for event in created_events %}
        <li>
            <h3>{{ event.title }}</h3>
            <p>{{ event.description }}</p>
            <p>Date: {{ event.date_time }}</p>
        </li>
        {% endfor %}
    {% else %}
        <p>No created events.</p>
    {% endif %}
</ul>

<h2>Bucket List:</h2>
<ul>
    {% if bucket_list %}
        {% for item in bucket_list %}
        <li>
            <h3>{{ item.activity.name }}</h3> 
            <p>Status: {{ item.status }}</p>
        </li>
        {% endfor %}
    {% else %}
        <p>Bucket list is empty.</p>
    {% endif %}
</ul>

{% endblock %}